version: "3.9"

services:
  db:
   image: mysql:8.0
   container_name: mysql_container
   restart: always
   environment:
     MYSQL_USER: ${MYSQL_USER}
     MYSQL_PASSWORD: ${MYSQL_PASSWORD}
     MYSQL_DATABASE: ${MYSQL_DATABASE}
     MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
   ports:
     - "3306:3306"
   volumes:
     - mysql_data:/var/lib/mysql
     - ./DB/can_dump.sql:/docker-entrypoint-initdb.d/can_dump.sql
   networks:
     - can_networkup

  #per production (messa online), commentare phpmyadmin 
  phpmyadmin:
   image: phpmyadmin/phpmyadmin
   container_name: phpmyadmin_container
   restart: always
   environment:
     PMA_HOST: db
     PMA_USER: ${PMA_USER}
     PMA_PASSWORD: ${PMA_PASSWORD}
   ports:
     - "8080:80"
   depends_on:
     - db

  backend:
    build: 
      context: ./backend
      dockerfile: Dockerfile
    image: can-backend
    container_name: backend_container
    restart: always
    environment:
      DB_HOST: ${DB_HOST}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
      URL_PASSWORD_DB: ${URL_PASSWORD_DB}
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    depends_on:
      - db
    networks:
      - can_networkup

  frontend:
    build:  
      context: .
      dockerfile: frontend/Dockerfile
    image: can-frontend
    container_name: frontend_container
    restart: always 
    environment:
       BASE_URL: ${BASE_URL}
       WEATHER_API_KEY: ${WEATHER_API_KEY}
      
    ports:
      - "8050:8050"
    volumes:
      - ./frontend:/app/frontend
    depends_on:
      - backend
    networks:
      - can_networkup
    command: >
      sh -c "python -m frontend.app"

networks:
  can_networkup:
    driver: bridge

volumes:
  mysql_data: