# Per far funzionare l'applicazione, è necessario installare le dipendenze elencate in questo file.
# assicuratevi di essere nella cartella in cui c'è il file e poi:
# Installazione: pip install -r requirements.txt

# Backend & API
fastapi==0.115.2
uvicorn==0.32.0
sqlalchemy==2.0.36
pymysql==1.1.1
cryptography==43.0.3
pydantic==2.9.2
python-multipart==0.0.9
typing-extensions==4.12.2
requests==2.32.3
pandas==2.2.3
python-dotenv==1.0.1