.azioni-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto 10px auto;
  background-color: #ffffff; /* sfondo cerchio */
  display: flex;
  align-items: center;
  justify-content: center;
}

.azioni-val {
  font-size: 1.4rem;
  font-weight: bold;
}

.carta-sezione {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

