.azioni-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto 10px auto;
  background-color: #f1f3f5; /* sfondo cerchio */
  display: flex;
  align-items: center;
  justify-content: center;
}

.azioni-val {
  font-size: 1.4rem;
  font-weight: bold;
}
