version: "3.9"

services:
  db:
    image: mysql:8.0
    container_name: mysql_container
    restart: always
    environment:
      MYSQL_USER: teamcan
      MYSQL_PASSWORD: Hfdfzbhvd.665
      MYSQL_DATABASE: CAN_DB
      MYSQL_ROOT_PASSWORD: Hfdfzbhvd.665root
    ports:
      - "3306:3306"
    volumes:
      - ./mysqldata:/var/lib/mysql
    
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin_container
    restart: always
    environment:
      PMA_HOST: db
      PMA_USER: root
      PMA_PASSWORD: Hfdfzbhvd.665root
    ports:
      - "8080:80"
    depends_on:
      - db